# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


1-semester/01-lab-linear/home.in
1-semester/01-lab-linear/home.out
1-semester/01-lab-linear/*.exe
1-semester/01-lab-linear/*.out

1-semester/02-lab-sort/home.in
1-semester/02-lab-sort/home.out
1-semester/02-lab-sort/*.exe
1-semester/02-lab-sort/*.out

1-semester/03-lab-heap-dsu/home.in
1-semester/03-lab-heap-dsu/home.out
1-semester/03-lab-heap-dsu/*.exe
1-semester/03-lab-heap-dsu/*.out

1-semester/04-lab-dp/home.in
1-semester/04-lab-dp/home.out
1-semester/04-lab-dp/*.exe
1-semester/04-lab-dp/*.out





4-semester/input.txt
4-semester/output.txt
4-semester/*.exe
4-semester/*.out