# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


1-semester/01-lab-linear/home.in
1-semester/01-lab-linear/home.out
1-semester/01-lab-linear/*.exe
1-semester/01-lab-linear/*.out

1-semester/02-lab-sort/home.in
1-semester/02-lab-sort/home.out
1-semester/02-lab-sort/*.exe
1-semester/02-lab-sort/*.out

1-semester/03-lab-heap-dsu/home.in
1-semester/03-lab-heap-dsu/home.out
1-semester/03-lab-heap-dsu/*.exe
1-semester/03-lab-heap-dsu/*.out

1-semester/04-lab-dp/home.in
1-semester/04-lab-dp/home.out
1-semester/04-lab-dp/*.exe
1-semester/04-lab-dp/*.out
1-semester/04-lab-dp/CutePatterns2/.idea
1-semester/04-lab-dp/CutePatterns2/out
1-semester/04-lab-dp/CutePatterns2/*.iml
1-semester/04-lab-dp/CutePatterns3/.idea
1-semester/04-lab-dp/CutePatterns3/out
1-semester/04-lab-dp/CutePatterns3/*.iml
1-semester/04-lab-dp/InterestingNumber/.idea
1-semester/04-lab-dp/InterestingNumber/out
1-semester/04-lab-dp/InterestingNumber/*.iml

2-semester/05-lab-bst/home.in
2-semester/05-lab-bst/home.out
2-semester/05-lab-bst/*.exe
2-semester/05-lab-bst/*.out

2-semester/06-lab-hash/home.in
2-semester/06-lab-hash/home.out
2-semester/06-lab-hash/*.exe
2-semester/06-lab-hash/*.out

2-semester/07-lab-segment/rmq2/.idea
2-semester/07-lab-segment/rmq2/cmake*
2-semester/07-lab-segment/2d-query/.idea
2-semester/07-lab-segment/2d-query/cmake*
2-semester/07-lab-segment/cryptography/.idea
2-semester/07-lab-segment/cryptography/cmake*
2-semester/07-lab-segment/lca-problem-revisited/.idea
2-semester/07-lab-segment/lca-problem-revisited/cmake*
2-semester/07-lab-segment/rmq/.idea
2-semester/07-lab-segment/rmq/cmake*
2-semester/07-lab-segment/rsq/.idea
2-semester/07-lab-segment/rsq/cmake*
2-semester/07-lab-segment/segment-function/.idea
2-semester/07-lab-segment/segment-function/cmake*
2-semester/07-lab-segment/sparce-table/.idea
2-semester/07-lab-segment/sparce-table/cmake*
2-semester/07-lab-segment/the-cheapest-edge/.idea
2-semester/07-lab-segment/the-cheapest-edge/cmake*
2-semester/07-lab-segment/parking/.idea
2-semester/07-lab-segment/parking/cmake*
2-semester/07-lab-segment/windows/.idea
2-semester/07-lab-segment/windows/cmake*
2-semester/07-lab-segment/fast-addition/.idea
2-semester/07-lab-segment/fast-addition/cmake*
2-semester/07-lab-segment/path-addition/.idea
2-semester/07-lab-segment/path-addition/cmake*
2-semester/07-lab-segment/3d-sum/.idea
2-semester/07-lab-segment/3d-sum/cmake*
2-semester/07-lab-segment/lca-offline/.idea
2-semester/07-lab-segment/lca-offline/cmake*
2-semester/07-lab-segment/rectangles/.idea
2-semester/07-lab-segment/rectangles/cmake*


3-semester/lab-graph/input.txt
3-semester/lab-graph/output.txt
3-semester/lab-graph/*.exe
3-semester/lab-graph/*.out

3-semester/lab-string/input.txt
3-semester/lab-string/output.txt
3-semester/lab-string/*.exe
3-semester/lab-string/*.out


4-semester/input.txt
4-semester/output.txt
4-semester/*.exe
4-semester/*.out